.rating{
	display: flex;
	flex-direction: row-reverse;
}

.rating label {
	margin: 0 5px;
	cursor: pointer;
}
  
.rating input[type="radio"] {
	display: none;
}
  
.rating .icon:before {
	content: "\2605";
	font-size: 30px;
	color: #ddd;
	transition: 0.5s ease all;
}
  
.rating input[type="radio"]:checked + .icon:before,
.rating label:has(> input[type="radio"]:checked) ~ label .icon:before {
  	color: black;
}

